<div class="header">
    <p>
        <mat-toolbar>
         <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button appBasicHighlight mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="onSelect('recipe')">
          Recipe
        </button>
        <button appBetterHighlight mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onSelect('shopping-list')">
        Shopping
       </button>
       <div class="menu" appDropdown>
        <button class="dropdown-toggle">Menu</button>
        <!-- <ul class="dropdown-menu">
          <li>bread</li>
          <li>rice</li>
          <li>vegetable</li>
         </ul> -->
       </div>
      </mat-toolbar>
      </p>
</div>
