.home {
  padding: 20px;
  input {
    padding: 20px 15px;
  }
  p {
    margin-top: 20px;
    padding: 10px;
  }
  .btn_area_one {
    display: flex;
    .inc_btn {
      margin-right: 10px;
      border: none;
      background-color: #000;
      color: #fff;
      padding: 20px 50px;
    }
  }
  .btn_area_color {
    display: flex;

    button {
      margin-right: 10px;
      color: #fff;
      padding: 20px 50px;
      border: none;
      margin-top: 10px;
    }
    .color_btn_red {
      background-color: red;
    }
    .color_btn_blue {
      background-color: blue;
    }
    .color_btn_green {
      background-color: green;
    }
    .bgbtn{
      background: #000;
    }
  }
}
.bgBtnarea{
  position: relative;
  .dropdown{
    position: absolute;
    bottom: -97px;
    left: 0;
    box-shadow: 0 0 5px 2px #514f4fbf;
    width: 100%;
    padding: 10px;
    ul{
      li{
      list-style: none;
      margin-top: 10px;
      cursor: pointer;
      }
    }
  }
}
.bgcls{
  background-color: aqua;
}