<div class="home">
  <input type="text" placeholder="type here" (input)="onTyping($event)" />
  <p
    [style.color]="
      changeColor 
    "
    [class.bgcls]="bgColor==='yes'"
   [style.fontSize.px]="counter"
  >
    {{ istyping }}
  
  </p>
  <div class="btn_area_one">
    <button class="inc_btn" (click)="increment()">Increase</button>
    <button class="inc_btn" (click)="decrement()">Decrease</button>
  </div>
  <div class="btn_area_color">
    <button class="color_btn_red" (click)="onColor('red')">
      Color Red
    </button>
    <button class="color_btn_blue" (click)="onColor('blue')">
      Color Blue
    </button>
    <button class="color_btn_green" (click)="onColor('green')">
      Color Green
    </button>
    <div class="bgBtnarea">
       <button class="bgbtn" (click)="ondrop()">Show Background Color</button>
       <div class="dropdown" *ngIf="Drop">
        <ul>
          <li (click)="onBgChange('no')">No</li>
          <li (click)="onBgChange('yes')">Yes</li>
        </ul>
       </div>
    </div>
   
  </div>
</div>

<hr>
<ul>
  <li *ngFor="let item of getuser">
    <figure><img [src]="item?.avatar" alt=""></figure>
    <h5>{{item?.first_name}} {{item?.last_name}} </h5>
  </li>
</ul>
